<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
		<h1>Report Summary</h1>
		<div class="Summary">
			<span style="font-size: 22px;font-weight: 600;">Crop Name:</span><span style="font-size: 20px;">{{cropname}}</span>
			<h2>Fertilizer Recommended</h2>
			<span style="font-size: 24px;font-weight: 600;">Urea:</span><span style="font-size: 20px;">{{n}}kg</span>
			<br>
			<span style="font-size: 24px;font-weight: 600;">DAP:</span><span style="font-size: 20px;">{{p}}kg</span><br>
			<span style="font-size: 24px;font-weight: 600;">MOP:</span><span style="font-size: 20px;">{{k}}kg</span><br>
            <h3>Recommended Plants</h3>
            <span style="font-size: 20px;">{{r1}}kg</span><br>
            <span style="font-size: 20px;">{{r2}}kg</span><br>
		</div>
	</div>
</body>
</html>